.sw-random-box {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;}
.sw-random__image {flex:0 0 auto; width: 170px; min-height: 170px; position: relative; }
.sw-random__image > img {display: block; width: 100%; height: auto;}
.sw-random__content  {flex:1 1 auto; text-align: left;}

.sw-random-box .sw-spinner {display: block; margin:0 auto;}
.sw-random-box .error-indicator {display: block; margin:0 auto; width: 100%;}