.sw-items-box__content {flex:1 1 auto;}

.sw-unit {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;}
.sw-unit__image {position: relative; flex: 0 0 auto; overflow: hidden; width: 180px;}
.sw-unit__image img {width: 100%; height: auto; display: block; border-radius: 12px;}
.sw-unit__content {flex: 1 1 auto;}
.list-group-item {user-select: none; cursor: pointer;}