.sw-app-header {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: nowrap;}
.sw-logo {display: block; flex:0 0 auto; text-align: left; font-size: 24px; color: var(--bs-secondary); font-weight: 700; margin-top:4px;}
.sw-nav {flex:1 1 auto;}
.sw-nav-item {font-size: 20px; font-weight: 700; }